a(href=`${link}`)
  .portfolio__item
    img.portfolio__image(src=`${image_path}`, alt=`${image_alt}`)
    .text_container
      .text_container__title #{container__title}
      .text_container__description #{container__description}